@model IEnumerable<MVCTutorail.Models.Department>
@using MVCTutorail.Models

@{
    ViewBag.Title = "Department list";
}

<h2>Department List</h2>

@*<ul>
    @foreach (Department dept in Model)
    {
        <li>
            @Html.ActionLink(dept.DeptName, "Index", "Employee", new { id = dept.DeptID });
        </li>
    }
</ul>*@


